*{
    text-decoration: none;
    color: #ffffff;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.banner{
    background-image: url('../img/elesh_norn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_content{
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.7vh;
    width: 20%;
    height: 50%;
    background-color: rgb(23, 0, 44);

}

input{
    background-color: black;
    color: #ffffff;
    height: 3vh;
    border: 0px;
    border-radius: 20px;
}

span{
    font-size: 2vh;
}

button{
    color: #ffffff;
    font-size: 2vh;
    width: 10vw;
    height: 4vh;
    border-radius: 20px;
    background-color: midnightblue;
    border: 0px;
}