*{
    text-decoration: none;
    color: #ffffff;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.banner{
    background-image: url('../img/elesh_norn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_content{
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.7vh;
    width: 22%;
    height: 62%;
    background-image: linear-gradient(rgba(212, 212, 212, 0.021),rgba(241, 116, 116, 0.164),rgba(151, 57, 73, 0.37),rgb(117, 24, 24), rgb(51, 34, 40));
    border: 0.2vh solid rgba(0, 0, 255, 0.116);
    border-top: 0px;
}

h1{
    background: -webkit-linear-gradient(#795454, #8f2424 , #3d1414);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input{
    background-color: black;
    color: #ffffff;
    height: 4vh;
    border: 0px;
    border-radius: 1vh;
}

span{
    font-size: 3vh;
}

button{
    color: #ffffff;
    font-size: 3vh;
    width: 15vw;
    height: 5vh;
    border-radius: 20px;
    background-color: rgb(54, 0, 0);
    border: 0px;
}