span {
    font-size: 3.5vh;
}

.banner {
    width: 100vw;
    height: 100vh;
    background-color: #111111;;
    background-attachment: fixed;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
    flex-direction: column;
}

.banner_content{
    display: flex;
    height: 90vh;
    width: 70vw;
}

.lista_cartas{
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: rgb(49, 49, 49);
}

.lista{
    margin-left: 1vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 50%;
}

li{
    margin-top: 1.5vh;
}

.carta{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundo{
    height: 100%;
}

.nome{
    position:absolute;
    top: 20.8vh;
    left:55.5vw; 
    color: #ffffff00;
    height: 4.5vh;
    width: 17vw;
    color: rgb(17, 17, 17);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mana{
    position:absolute;
    top: 20.8vh;
    left:74vw; 
    color: rgb(0, 0, 0);
    height: 4.5vh;
    width: 5.2vw;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tipo{
    position:absolute;
    top: 66.5vh;
    left:55.5vw;
    color: rgb(0, 0, 0);
    height: 4.5vh;
    width: 22.4vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto{
    position:absolute;
    top: 72vh;
    left:55.5vw; 
    height: 21vh;
    width: 22.5vw;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.poder_resist{
    position:absolute;
    top: 96.6vh;
    left:76vw;
    color: rgb(0, 0, 0);
    height: 4.5vh;
    width: 2.2vw;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}