.forja .container{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100vw;
    height: 200vh;
    background-color: black;
}

.form_1{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    width: 90%;
    height: 40%;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgb(20, 20, 77);
    justify-content:space-around
}

select{
    height: 5vh;
    width:10vw;
    border: 0px;
    color: #ffffff;
    background-color: rgb(20, 20, 77);
    margin-left: 3vh;
}

.card{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundo{
    height: 100%;
}

.nome{
    position:absolute;
    top: 25vh;
    left:53vw; 
    background-color: #ffffff00;
    height: 4vh;
    width: 17vw;
    font-size: 3vh;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.mana{
    position:absolute;
    top: 25vh;
    left:71vw; 
    background-color: #ffffff00;
    height: 4vh;
    width: 5vw;
    font-size: 3vh;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.tipo{
    position:absolute;
    top: 65.5vh;
    left:53vw; 
    background-color: #ffffff00;
    height: 4vh;
    width: 22.3vw;
    font-size: 3vh;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.texto{
    position:absolute;
    top: 71vh;
    left:53vw; 
    background-color: #ffffff00;
    height: 20vh;
    width: 22.3vw;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.selects{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    
}