/*Formatação da navbar*/
.header {
    width: 100vw;
    height: 11vh;
    background-color: #000000;
    border-bottom: 0.1vh solid #ffffff;
}

li {
    font-size: 3vh;
    margin-left: 2vh;
}


.header .container {
    justify-content: space-between;
    align-items: center;
}

/*Formatação da navbar*/
.navbar {
    color: #ffffff;
    list-style: none;
    display: flex;
    width: 100vh;
    justify-content: space-around;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: #0c0000;
    border-top: 0.1vh solid #ffffff;
}
.footer p{
    color: #ffffff;
    font-size: 3vh;
    text-align: center;
}