@font-face {
    font-family: font_now;
    src: url(../css/now.light.otf);
}

@font-face {
    font-family: font_now_bold;
    src: url(../css/now.medium.otf)
}
*{
    font-family: font_now;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 90%;
    margin: auto;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nome_p{
    color: white;
}