.banner {
    width: 100vw;
    height: 100vh;
    background-color: #111111;;
    background-attachment: fixed;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}

.banner_content{
    gap: 5vw;
    display: flex;
    height: 70vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.banner_content img{
    height: 70%;
    border-radius: 40px;
}

.banner span {
    font-size: 6vh;
}

